* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  padding: 2vmin;
  grid-gap: 2vmin 2vmin;
  grid-template:
    " header     header header      header" auto
    " dragsource nope   nope    droptarget " 1fr
    " switches     main main main    " 60vh
    / 1fr 1fr 1fr 1fr ;

  height: 100vh;
  width: 100vw;
}

table, td, th {
	border: solid grey thin;
	border-collapse: collapse;
	padding: 0.25em;
}

table {
  width: 100%;
}

section {
  border: dashed black thin;
  background: lightgrey;
  text-align: center;
  font-size: 2vmin;
  border-radius: 0.5vmin;
}

header {
  text-align: center;
  grid-area: header;
}

main {
  grid-area: main;
  overflow: scroll;
  font-size: 75%;
}

#dragsource {
  grid-area: dragsource;
}

#nope {
  grid-area: nope;
}

#droptarget {
  grid-area: droptarget;
}

#switches {
  grid-area: switches;
  padding: 1em;
}

#switches label {
	display: flex;
}

#dragme {
  margin: 1vmin auto;
  padding: 1vmin;
  border-radius: 0.5vmin;
  border: solid black thin;
  box-shadow: 1vmin 1vmin 1vmin black;
  width: 55%;
  height: 54%;
}

input {
	margin-right: 0.5em;
}
